APP_PORT=
APP_DEBUG=
API_SECRET=

DB_CONNECTION_STRING=
MONGO_CONNECTION_STRING=
REDIS_CONNECTION_STRING=

RATE_MAX=
RATE_RETRY=

JWT_SECRET=
DARKSKY_SECRET_KEY=

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DB_URL=
FIREBASE_PROJECT_ID=
FIREBASE_BUCKET=
FIREBASE_MESSAGE_SENDER_ID=